<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178280760819-skcaql8q4p9oej7jreiresdallh4k4o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178280760819-skcaql8q4p9oej7jreiresdallh4k4o0</string>
	<key>API_KEY</key>
	<string>AIzaSyDDu5ZAvfPRh1JGbn4Ufg9nvW5qhdAtAhg</string>
	<key>GCM_SENDER_ID</key>
	<string>178280760819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recycling</string>
	<key>PROJECT_ID</key>
	<string>hardware-ultrasonic</string>
	<key>STORAGE_BUCKET</key>
	<string>hardware-ultrasonic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178280760819:ios:f524ad4735c404951afe86</string>
	<key>DATABASE_URL</key>
	<string>https://hardware-ultrasonic-default-rtdb.firebaseio.com</string>
</dict>
</plist>